<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html'; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Thanks for booking with FlightBooker!</h1>
        <p>Flight Details : </p>

        <p><%= "Flight # #{@booking.flight_id} " %></p>
        <p><%= "Departing from #{@booking.flight.to_airport.airport_code}" %></p>
        <p>on <%= "#{@booking.flight.departure_time.strftime("%B #{@booking.flight.departure_time.day.ordinalize}, %Y")}" %> </p>
        <p><%= "Arriving at #{@booking.flight.from_airport.airport_code}" %></p>
        <p><%= "Estimated flight time of #{@booking.flight.duration} minutes" %></p>
        <p>
          Thanks for using FlightBooker!</p>
        </body>
</html>

          