
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Flight Information</h3>
  </div>
  <div class="panel-body">
    <p><%= "Flight # #{params[:flight_id]} " %></p>
    <p><%= "Departing from #{@flight.to_airport.airport_code}" %></p>
    <p>on <%= "#{@flight.departure_time.strftime("%B #{@flight.departure_time.day.ordinalize}, %Y")}" %> </p>
    <p><%= "Arriving at #{@flight.from_airport.airport_code}" %></p>
    <p><%= "Estimated flight time of #{@flight.duration} minutes" %></p>
  </div>
</div> 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Passenger Information</h3>
  </div>
   <%= form_for @booking do |flight|%>
   <%= flight.fields_for :passengers do |passenger| %>

    <%= passenger.label :name, "Name:" %>
    <%= passenger.text_field :name %>
    <%= passenger.label :email, "Email:" %>
    <%= passenger.text_field :email %>
    <br>
    <% end %>
    <%= hidden_field_tag(:passengers, params[:passengers]) %>
        <%= flight.hidden_field :flight_id, value: params[:flight_id] %>
        <%= hidden_field_tag(:flight_id, params[:flight_id]) %>
  <%= flight.submit "Submit Passenger Info " %>
<% end %>
