
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Booking Information</h2>
  </div>
<div class="panel-body">
  <h2><%= "#{@flight.from_airport.airport_code} => #{@flight.to_airport.airport_code}" %></h2>
  
  <p><%= "Flight # #{params[:flight_id]} " %></p>
  <p><%= "Departing from #{@flight.from_airport.airport_code}" %></p>
  <p>on <%= "#{@flight.departure_time.strftime("%B #{@flight.departure_time.day.ordinalize}, %Y")}" %> </p>
  <p><%= "Arriving at #{@flight.to_airport.airport_code}" %></p>
  <p><%= "Estimated flight time of #{@flight.duration} minutes" %></p>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Passenger Information</h2>
  </div>
  <div class="panel-body">
    <%= form_for @booking do |flight|%>
       <%= flight.fields_for :passengers do |passenger| %>

        <%= passenger.label :name, "Name:" %>
        <%= passenger.text_field :name %>
        <%= passenger.label :email, "Email:" %>
        <%= passenger.email_field :email %>
        <br>
        <% end %>
      <%= hidden_field_tag(:passengers, params[:passengers]) %>
      <%= flight.hidden_field :flight_id, value: params[:flight_id] %>
      <%= hidden_field_tag(:flight_id, params[:flight_id]) %>
    
      <%= flight.submit "Submit Passenger Info ",  class: 'btn btn-primary '  %>
      <% end %>
    </div>

</div>
