<% if params[:passengers].nil? %>
  <div class="jumbotron flight-table">
    <h1>Welcome to FlightBooker</h1>
    <p>Search for flights below to get started!</p>

  </div>
<% end %>



<%= form_tag(flight_index_path, method: "get") do %>
  <%= label_tag(:from_airport_id, "Departure Airport:") %>
  <%= select_tag(:from_airport_id, options_for_select(@airports, @from_airport)) %>

  <%= label_tag(:to_airport_id, "Destination Airport:") %>
  <%= select_tag(:to_airport_id, options_for_select(@airports, @to_airport)) %>

  <%= label_tag(:flight_date, "Date of Departure") %>
  <%= select_tag(:flight_date, options_for_select(Flight.all.map { |f| f.flight_date_formatted}.uniq)) %> 
  
  <%= label_tag(:passengers, "Number of Passengers") %>
  <%= select_tag(:passengers, options_for_select(1..4))  %>
  
  <%= submit_tag("Search Flights", :name => nil) %>
<% end %>

<% unless params[:passengers].nil? %>
<div class="jumbotron jumbotron-inverse flight-table ">
    <h2>Flights</h2>

    <%= form_tag new_booking_path, method: "get" do   %>
        
          <% if @flights.empty? %>
            <p>No flights match your request.</p>
            <% if params[:to_airport_id] == params[:from_airport_id] %>
              <p><small>We have no flights to and from the same airport.</small></p>
            <% end %>
          <% else %>
          <table class="table table-striped">
           
           <tr class="flight-table">
                  <th class="table-fade">Select this Flight</th>
                  <th class="table-fade">Departure Time:</th>
                  <th class="table-fade">Departing from:</th>
                  <th class="table-fade">Destination</th>
                  <th class="table-fade">Flight ID</th>
                </tr>
          <% @flights.each do |f| %>
                <tr>
                   <td><%= radio_button_tag( :flight_id, f.id ) %></td>
                   <td><%= label :flight, "#{f.departure_time.strftime("%I:%M:%S %p")}" %></td>
                   <td><%= Airport.find(f.from_airport_id).airport_code %></td>
                   <td><%= Airport.find(f.to_airport_id).airport_code %></td>
                   <td><%= f.id %></td>
                 </tr>
                   
                <% end %>
            </table>
            <%= hidden_field_tag(:passengers, params[:passengers]) %>
            <%= submit_tag( "Book this flight", class: "submit btn btn-primary") %>

        </ul>
        <% end %>
    <% end %>
</div>
 <% end %>